*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .box{
    width: 200px;
    height: 200px;
    border: 99px solid black;
}

.box:hover{
    background-color: red;
}

.box:focus{
    background-color: green;
}

.box:active{
    background-color: yellow;
} */

/* a:link{
    color: red;
}

a:visited{
    color: blue;
} */